<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% for path in config.extra_css %}
    <!--this is not working-->
    <link href="{{ path|url }}" rel="stylesheet" />
    {% endfor %}

    <script>
      // have to put this to make search plugin works
      let base_url = ""
    </script>

    <!---->
    {% block libs %}
    <link
      rel="stylesheet"
      href="{{ base_url }}/highlight/styles/default.min.css"
    />
    <link rel="stylesheet" href="{{ base_url }}/css/theme.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/search.css" />
    <script src="{{ base_url }}/highlight/highlight.min.js"></script>
    <script src="{{ base_url }}/js/theme.js"></script>
    <script src="{{ base_url }}/js/nav.js"></script>
    {% if 'search' in config['plugins'] %}
    <script src="{{ base_url }}/search/main.js"></script>
    {% endif %} {% endblock %}

    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}
    </title>
  </head>

  <body>
    {% include 'nav.html' %} {% include 'index.html' %}
  </body>

  <!--   {%- block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ 'js/bootstrap.js'|url }}"></script>
  {%- endblock %} -->
</html>
