<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% for path in config.extra_css %}
	<!--this is not working-->
	<link href="{{ path|url }}" rel="stylesheet" />
	{% endfor %}

	<!---->
	{% block libs %}
	<link rel="stylesheet" href="{{ base_url }}/highlight/styles/default.min.css" />
	<link rel="stylesheet" href="{{ base_url }}/theme.css" />
	<script src="{{ base_url }}/highlight/highlight.min.js"></script>
	<script src="{{ base_url }}/theme.js"></script>
	<script src="{{ base_url }}/nav.js"></script>
	{% endblock %}
	<title>
		{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}
	</title>
</head>

<body>
	{% include 'nav.html' %} {% include 'index.html' %}
</body>

</html>